j .popup__split-line {
    margin: 0;
    width: 358px;
    border: 0 0 0 1px solid #000000;
    opacity: 0.2;
}

@media (max-width: 768px) {
    .popup__split-line {
        margin: 0;
        width: 238px;
    }
}