.page {
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: #000000;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
}

.border {
    border: solid red 1px;
}


/*header*max-width: calc(100% - 96px);/
  /*header */

.header {
    /* margin: 45px 200px 32.5px 200px;  
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);*/
    max-width: 880px;
    margin: 45px auto 32.5px auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    ;
}

.header__logo {
    max-width: 142px;
    margin-bottom: 41px;
}

.header__logo:hover {
    opacity: 0.1;
}

@media (max-width: 1279px) {
    .header {
        /* margin: 45px 100px 32.5px 100px; */
    }
}

@media (max-width: 1024px) {
    .header {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .header {
        margin: 28px 27px 38.25px 27px;
    }
    .header__logo {
        max-width: 103.74px;
        margin-bottom: 31.6px;
    }
}


/*profile */

.profile {
    max-width: 880px;
    /* margin: 0 200px 51px 200px; */
    margin: 0 auto 51px auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__avatar {
    border-radius: 50%;
    max-width: 120px;
    margin: 0 30px 0 0;
}

.profile__info {
    width: 336px;
    margin: auto auto auto 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px 18px;
}


/*.profile__add-button {
  width: 150px;
  height: 50px;
      
}   Попробую  через бэкграунд
 */

.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url(/images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    background-color: #000000;
    outline: none;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__info-title {
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    font-size: 42px;
    line-height: 48px;
    max-width: 294px;
    margin: 0;
}

.profile__info-subtitle {
    color: #FFFFFF;
    font-weight: 400px;
    font-style: normal;
    font-size: 18px;
    line-height: 21.78px;
    max-width: 336px;
    margin-top: 0;
}

.profile__info-adit-button {
    margin: auto auto 0 auto;
    width: 24px;
    height: 24px;
    background-image: url(/images/Edit\ Button.svg);
    background-position: center;
    background-color: #000000;
    border: #FFFFFF;
    outline: none;
}

.profile__info-adit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 1279px) {
    .profile {
        /*margin: 0 100px 51px 100px;*/
    }
}

@media (max-width: 1024px) {
    .profile {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .profile {
        margin: 0 auto 36px auto;
        flex-direction: column;
        max-width: 282px;
        height: 286px;
        justify-content: start;
    }
    .profile__avatar {
        margin-left: 30px;
    }
    .profile__info {
        width: 280px;
        height: 66px;
        margin: 10.25px auto 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .profile__add-button {
        width: 282px;
        height: 50px;
        margin: 36px auto 0 auto;
    }
    .profile__info-title {
        font-size: 27px;
        line-height: 32.68px;
        width: 282px;
        margin: 0 0 0 0;
        text-align: center;
    }
    .profile__info-subtitle {
        font-size: 14px;
        line-height: 16.94x;
        width: 282px;
        margin: 0 0 0 0;
        text-align: center;
    }
    .profile__info-adit-button {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 88%;
        top: 15%;
        border: 1px solid #FFFFFF;
    }
}


/* cards */

.gallery {
    max-width: 880px;
    margin: 45px auto 32.5px auto;
    /* margin: 45px 200px 32.5px 200px;  */
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
    gap: 20px 17px;
    justify-content: center;
}

.gallery__card {
    width: 282px;
    height: 362px;
    background-color: #FFFFFF;
    border-radius: 10px;
    /* ?? белые зазоры */
}

.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px;
}

.card__description-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 15px 31px 21px;
    height: 23px;
}

.card__titel {
    max-width: 200px;
    color: #000000;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button {
    width: 22px;
    height: 19px;
    background-image: url(/images/like_button.svg);
    background-position: center;
    border: none;
    background-color: transparent;
    outline: none;
}

.card__like-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 1279px) {
    .gallery {
        /* margin: 45px 100px 32.5px 100px; */
    }
}

@media (max-width: 1024px) {
    .gallery {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .gallery {
        margin: 28px 19px 38.5px 19px;
    }
}


/* footer */

.footer {
    /* margin: 45px 200px 32.5px 200px;  */
    margin: 45px auto 32.5px auto;
    max-width: 880px;
}

.footer__copyright {
    font-style: normal;
    font-weight: normal;
    /* !*/
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 1279px) {
    .footer {
        /* margin: 67px 100px 60px 100px; */
    }
}

@media (max-width: 1024px) {
    .footer {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (max-width: 768px) {
    .footer {
        margin: 48px 19px 36px 19px;
    }
    .footer__copyright {
        font-size: 14px;
        line-height: 29px;
    }
}


/* popup */

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* visibility: visible */
    visibility: hidden;
}

.popup__conteiner {
    width: 430px;
    height: 330px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15);
    margin: auto auto auto auto;
    position: relative;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
}

.popup__form {}

.popup__button-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    left: 430px;
    background-image: url(/images/Close\ Icon.png);
    background-repeat: no-repeat;
    background-position: center;
    border: #000000;
    background-color: transparent;
    outline: none;
}

.popup__button-close:hover {
    opacity: 0.6;
    transform: rotate(45deg);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

.popup__titel {
    font-style: normal;
    font-weight: 900px;
    font-size: 24px;
    line-height: 29.5px;
    color: #000000;
    margin: 0;
}

.popup__input-name {
    border: none;
    margin: 0;
    margin-top: 54px;
    width: 358px;
    height: 14px;
}

.popup__input-about {
    border: none;
    margin: 0;
    margin-top: 30px;
    width: 358px;
    height: 14px;
}

.popup__split-line {
    margin: 0;
    width: 358px;
    border: 0 0 0 1px solid #000000;
    /* ? */
    opacity: 0.2;
}

.popup__button-save {
    width: 358px;
    height: 50px;
    margin: 0;
    margin-top: 48px;
    background-color: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    outline: none;
}

.popup__button-save:hover {
    opacity: 80%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .popup__conteiner {
        width: 282px;
        height: 322px;
        padding: 25px 22px 25px 22px;
    }
    .popup__button-close {
        left: 280px
    }
    .popup__titel {
        font-weight: 900px;
        font-size: 18px;
        line-height: 21px;
    }
    .popup__input-name {
        margin-top: 75px;
        width: 238px;
    }
    .popup__input-about {
        width: 238px;
    }
    .popup__split-line {
        margin: 0;
        width: 238px;
    }
    .popup__button-save {
        width: 238px;
        height: 46px;
        margin: 0;
        margin-top: 45px;
    }
}