.page { 
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: #000000;
    margin: 0 auto;
    max-width: 1280px;
    
    min-width: 320px;
  }


  .border {
    border: solid red 1px;
}


  /*header*max-width: calc(100% - 96px);/
  /*header */

.header {
    margin: 45px 200px 32.5px 200px;  
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
    max-width: 142px;
    margin-bottom: 41px;
}

 @media  (max-width: 1024px) {
    .header {
        margin: 45px 100px 32.5px 100px;
    }

 }

 @media  (max-width: 768px) {
    .header {
        margin: 45px 50px 32.5px 50px;     
    }

 }

 @media  (max-width: 425px) {
    .header {
        margin: 28px 27px 38.5px 27px;
    }

    .header__logo {
        max-width: 103.74px;
        margin-bottom: 31.6px;
    }

 }


 /*profile */

 .profile {
    margin: 0 200px 51px 200px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
 }

.profile__avatar {
    border-radius: 50%;
    max-width: 120px;
    margin-right: 30px;
    margin-left: 30px;
}

.profile__info {
   
    width: 336px;
    height: 73px;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    margin-right: 0;
}




 @media  (max-width: 1024px) {
    .profile{
        margin: 0 100px 51px 100px;
     }
 }

 @media  (max-width: 768px) {
    .profile{
        margin: 0 50px 51px 50px;
     }
     
}

@media  (max-width: 425px) {
    .profile{
        margin: 0 19px 36px 19px;
     }
     
}