.popup__button-save {
    width: 358px;
    height: 50px;
    margin: 0;
    margin-top: 48px;
    background-color: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    outline: none;
}

.popup__button-save:hover {
    opacity: 80%;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

@media (max-width: 768px) {
    .popup__button-save {
        width: 238px;
        height: 46px;
        margin-top: 45px;
    }
}