.profile__info-title {
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    font-size: 42px;
    line-height: 48px;
    max-width: 294px;
    margin: 0;
}

@media (max-width: 768px) {
    .profile__info-title {
        font-size: 27px;
        line-height: 32.68px;
        width: 282px;
        margin: 0 0 0 0;
        text-align: center;
    }
}