/* .popup__input-name {
    border: none;
    margin: 0;
    margin-top: 54px;
    width: 358px;
    height: 14px;
    font-family: inherit;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16,94px;   
    
}

.popup__input-name:focus {
    outline-color: #FFFFFF;
}


@media (max-width: 768px) {
    .popup__input-name {
        margin-top: 75px;
        width: 238px;
    }
} */