.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 29px;
    }
}