.header__logo {
    max-width: 142px;
    margin-bottom: 41px;
}

.header__logo:hover {
    opacity: 0.1;
}

@media (max-width: 768px) {
    .header__logo {
        max-width: 103.74px;
        margin-bottom: 31.6px;
        margin-left: 27px;
    }
}