.popup__button-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    left: 430px;
    background-image: url(../../../images/Close\ Icon.png);
    background-repeat: no-repeat;
    background-position: center;
    border: #000000;
    background-color: transparent;
    outline: none;
}

.popup__button-close:hover {
    opacity: 0.6;
    transform: rotate(45deg);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

@media (max-width: 768px) {
    .popup__button-close {
        background-image: url(../../../images/Close\ Icon__little.svg);
        width: 26px;
        height: 26px;
        left: 260px;
    }
}