.popup__input {
    font-family: inherit;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16,94px;
    width: 358px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
}

.popup__input:focus {
    outline-color: #FFFFFF;
}

.popup__input:first-child {
    margin-top: 0;
}

@media (max-width: 768px) {
    .popup__input {
        width: 238px;
    } 
}