.gallery {
    max-width: 880px;
    margin: 45px auto 32.5px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
    gap: 20px 17px;
    justify-content: center;
}