.card__like-button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like_button.svg);
    background-position: center;
    border: none;
    background-color: transparent;
    outline: none;
}

.card__like-button:hover {
    opacity: 0.6;
    cursor: pointer;
}