.card__remove-button {
  
    background-image: url(../../../images/remove-butten.svg);
    width: 18px;
    height: 19.3px;
    position: absolute;
    top: 18px;
    right: 15px;
    z-index: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}
    
    

.card__remove-button:hover {
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
