.popup__conteiner {
    width: 430px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15);
    margin: auto auto auto auto;
    position: relative;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .popup__conteiner {
        width: 282px;
        padding: 25px 22px 25px 22px;
    }
}