.popup__input-about {
    border: none;
    margin: 0;
    margin-top: 30px;
    width: 358px;
    height: 14px;
    font-family: inherit; 
}
.popup__input-about:focus {
    outline-color: #FFFFFF;
}


@media (max-width: 768px) {
    .popup__input-about {
        width: 238px;
    }
}