.card__titel {
    max-width: 200px;
    color: #000000;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}