.profile__info-adit-button {
    margin: auto auto 0 auto;
    width: 24px;
    height: 24px;
    background-image: url(/images/Edit\ Button.svg);
    background-position: center;
    background-color: #000000;
    border: #FFFFFF;
    outline: none;
}

.profile__info-adit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 768px) {
    .profile__info-adit-button {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 88%;
        top: 15%;
        border: 1px solid #FFFFFF;
    }
}