.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url(/images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    background-color: #000000;
    outline: none;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 768px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        margin: 36px auto 0 auto;
    }
}