.popup__titel {
    font-style: normal;
    font-weight: 900px;
    font-size: 24px;
    line-height: 29.5px;
    color: #000000;
    margin: 0;
}

@media (max-width: 768px) {
    .popup__titel {
        font-weight: 900px;
        font-size: 18px;
        line-height: 21px;
    }
}